/*---------------------- RESET ----------------------*/
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

/*---------------------- COMMON ----------------------*/
body {
    height: 100vh;
}


/* <!------------------------ HEADER ------------------------> */
header {
    height: 50px;
    color: rgb(0, 175, 228);
    font-family: 'Acme', sans-serif;
}
.title {
    padding: 10px;
}


/* <!------------------------ NAV ------------------------> */
nav {
    height: 50px;
    color: white;
    background-color: rgb(0, 175, 228);
    text-align: center;
    line-height: 50px;
    font-family: 'Rubik', sans-serif;
}


/* <!------------------------ MAIN ------------------------> */
main {
    background-color: rgb(209, 214, 212);
    height: (100% - 100px);
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}

.carta {
    height: 30px;
    width: calc(20% - 40px);
    background-color: red;
    /* border: 1px solid white; */
    margin: 20px;
}
